

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
font-family: 'Permanent Marker', cursive;
}

.headings{
    /* max-width: 800px; */
    margin: 0 atuo;
    text-align: center;
}
)

.penguins {
    width: auto;
    height: 50px;
    padding: 100px;
}

#container{
    max-width: auto;
    max-height: auto;
}

/* #employee-info {
    border-collapse: collapse;
    width: auto;
    border: 5 px solid;
    border-color: white;
    padding: 8px;
}

#employee-info th {
    padding-top: 5x;
    padding-bottom: 5 px;
    text-align: center;
    background-color: blue;
    color: white;
}

#employee-info td{
    text-align: center;
} */

#table , th, td{
    width: auto;
    height: auto;
    border-collapse: collapse;
    border: 5 px solid;
    border-color: white;
    padding: 3px;
    text-align: center;
    background-color: blue;
    color: white;   
}